<aside>
  <header class="modal-header">
    <h1 class="h3">Really Kill {{job.payload.class}}?</h1>
    <h2 class="h4"><code class="paylod">{{job.payload.args}}</code></h2>
  </header>
  <p class="modal-body">
    This will terminate the worker and <strong>fail the job it's working on</strong>.
  </p>
  <footer class="modal-footer">
    <button class="btn btn-info pull-left" ng-click="cancel()">Leave Worker Running</button>
    <button class="btn btn-danger" ng-click="ok()"><i aria-hidden="true" class="glyphicon glyphicon-remove"></i> Kill Worker</button>
  </footer>
</aside>
