<aside data-modal>
  <header class="modal-header">
    <h1 class="h3">Killing a Worker</h1>
  </header>
  <p class="modal-body">
    It is unsafe to kill a worker from Resque-Brain.  See <a href="https://github.com/stitchfix/resque-brain/wiki/Why-resque-brain-can't-kill-a-worker">here for an explanation</a>.
    To do it yourself, you must:
    <ol>
      <li>Get a production console to {{resqueSelected.name}}</li>
      <li>Find the worker instance and unregister it:
        <pre class="mr-1"><code>worker = Resque.workers.detect { |worker|
  worker.id == '{{job.worker}}'
}
worker.unregister_worker</code></pre>
      </li>
    </ol>
  </p>
  <footer class="modal-footer">
    <button class="btn btn-info" ng-click="cancel()">OK</button>
  </footer>
</aside>
