<div rb-nav></div>
<div class="container">
  <section class="row">
    <header class="col-md-12">
      <h1 class="text-center">{{numJobsFailed}} Job<span ng-if="numJobsFailed != 1">s</span> Failed <small>{{resqueSelected}}</small></h1>
    </header>
    <div class="pull-right">
      <div class="btn-group">
        <button type="button" class="btn btn-default">Retry ALL</button>
        <button type="button" class="btn btn-default">Clear ALL</button>
        <button type="button" class="btn btn-primary"><i aria-hidden="true" class="glyphicon glyphicon-repeat"></i> Retry &amp; Clear ALL</button>
      </div>
    </div>
    <div class="clearfix"></div>
    <hr>
    <a name="top"></a>
    <article ng-repeat="job in jobsFailed track by $index" class="failed-job">
      <header>
        <h1 class="h3 mt-none">{{job.payload.class}} <span class="h4"><span class="label label-info">{{job.queue}}</span></span></h1>
        <h2 class="h4 mt-none"><a ng-href="https://www.google.com/search?q={{job.exception | encodeuri }}%20{{job.error | encodeuri }}" target='google'>{{job.exception}} - {{job.error}}</a></h2>
        <h3 class="h4"><small>Failed {{job.failedAt | date:'MMM dd, yyyy HH:mm:ss Z'}}</small></h2>
        <h4 class="h6"><small>{{job.worker}}</small></h4>
      </header>
      <p>
        <code class="payload">
          {{job.payload.args}}
        </code>
      </p>
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-primary"><i aria-hidden="true" class="glyphicon glyphicon-repeat"></i> Retry &amp; Clear</button>
          <button type="button" class="btn btn-sm btn-default">Retry</button>
          <button type="button" class="btn btn-sm btn-default">Clear</button>
        </div>
        <div class="visible-xs mt-1">&nbsp;</div>
        <div class="btn-group">
          <a href="" ng-click="" class="btn btn-sm btn-default"><i aria-hidden="true" class="glyphicon glyphicon-envelope"></i> Email</a>
          <a href="" ng-click="toggleBacktrace(job)" class="btn btn-sm btn-warning">
            Backtrace
            <i aria-hidden="true" ng-if="!backtraceShowing(job)" class="glyphicon glyphicon-chevron-right"></i> 
            <i aria-hidden="true" ng-if="backtraceShowing(job)" class="glyphicon glyphicon-chevron-down"></i> 
          </a>
        </div>
      </div>
      <div collapse="!backtraceShowing(job)" class="mt-1">
        <pre class="well pre-scroll-horizontal mb-none">{{job.backtrace | join }}</pre>
      </div>
    </article>
    <footer class="text-center" ng-if="pages.length > 1">
      <nav>
        <ul class="pagination">
          <li><a href="#">&laquo;</a></li>
          <li ng-repeat="page in pages" ng-class="{ 'active': page.page == currentPage }"><a href="" ng-click="goToPage(page)" title="Page {{page.page}} of Results">{{page.page}}</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </nav>
    </footer>
  </section>
</div>
