<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button ng-click='navCollapsed = !navCollapsed' type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-if="!resqueSelected" ng-click="viewSummary()" href="">Resque-Brain</a>
      <a class="navbar-brand" ng-if="resqueSelected"  ng-click="viewOverview()"  href="">{{resqueSelected}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" collapse='navCollapsed'>
      <ul class="nav navbar-nav" ng-if="resqueSelected">
        <li ng-class="activeClass('overview')"><a ng-click="viewOverview()" href="">Overview</a></li>
        <li ng-class="activeClass('running')" ><a ng-click="viewRunning()" href="">Running</a></li>
        <li ng-class="activeClass('waiting')" ><a ng-click="viewWaiting()" href="">Waiting</a></li>
        <li ng-class="activeClass('failed')"  ><a ng-click="viewFailed()"  href="">Failed</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resques <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a ng-click="viewSummary()" href="">Summary</a></li>
            <li class="divider"></li>
            <li ng-repeat="resque in resques">
              <a ng-click="viewResque(resque)" href="">{{resque.name}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
