<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button ng-click='navCollapsed = !navCollapsed' type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-if="!resqueSelected" ng-click="viewSummary()" href="">Resque Brain</a>
      <a class="navbar-brand" ng-if="resqueSelected"  ng-click="viewOverview()"  href="">{{resqueSelected}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" collapse='navCollapsed'>
      <ul class="nav navbar-nav" ng-if="resqueSelected">
        <li ng-repeat="navElement in navElements" ng-class="navElement.activeClass()">
          <a href="" ng-click="navElement.activate()" title="navElement.title">{{navElement.title}}</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="" id="dLabel" data-target="#" aria-haspopup="true" aria-expanded="false" role="button" class="dropdown-toggle" data-toggle="dropdown"><i aria-hidden='true' class="glyphicon glyphicon-wrench"></i> Resques <b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a ng-click="viewSummary()" href="">All</a></li>
            <li class="divider"></li>
            <li ng-repeat="resque in resques">
              <a ng-click="viewResque('overview',resque)" href="">{{resque.name}}</a>
            </li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <button type="button" class="btn btn-link" ng-click="refresh()">
          <i aria-hidden="true" class="glyphicon glyphicon-retweet"></i> Refresh
        </button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div rb-busy></div>
<aside class="flash row">
  <article flash-alert duration="0" active-class="alert" class="col-md-6 col-md-offset-3 col-sm-12">
    {{flash.message}}
  </article>
</aside>
