<div rb-nav></div>
<div class="container">
  <section class="row">
    <header class="col-md-12">
      <h1 class="text-center">Overview <small>{{resqueSelected}}</small></h1>
    </header>
  </section>
  <article class="col-md-4 col-sm-12 col-xs-12 col-md-offset-4">
    <section class="panel" ng-class="{ 'panel-info': overview.failed == 0, 'panel-danger': overview.failed != 0 }">
      <header class="panel-heading">
        <h1 class="h3 mt-none mb-none">
          <i aria-hidden='true' class="glyphicon glyphicon-remove"></i>
          <a ng-class="{ 'text-info': overview.failed == 0, 'text-danger': overview.failed != 0 }" ng-click="viewFailed()" href="">{{overview.failed}} <span class="hidden-xs">Job<span ng-if="overview.failed != 1">s</span></span> Failed <i aria-hidden='true' class="glyphicon glyphicon-chevron-right"></i></a>
        </h1>
      </header>
    </article>
  </section>
  <article class="col-md-4 col-sm-12 col-xs-12 col-md-offset-4">
    <section class="panel panel-info">
      <header class="panel-heading">
        <h1 class="h3 mt-none mb-none">
          <i aria-hidden='true' class="glyphicon glyphicon-random"></i>
          <a ng-click="viewRunning()" href="">{{overview.running}} <span class="hidden-xs">Job<span ng-if="overview.running != 1">s</span></span> Running <i aria-hidden='true' class="glyphicon glyphicon-chevron-right"></i></a>
        </h1>
      </header>
      <footer class="panel-footer" ng-if="overview.runningTooLong > 0">
        <h1 class="h4 mt-none mb-none text-warning">
          <i aria-hidden='true' class="glyphicon glyphicon-warning-sign"></i>
          {{overview.runningTooLong}} for too long
        </h1>
      </footer>
    </article>
  </section>
  <article class="col-md-4 col-sm-12 col-xs-12 col-md-offset-4">
    <section class="panel panel-info">
      <header class="panel-heading">
        <h1 class="h3 mt-none mb-none">
          <i aria-hidden='true' class="glyphicon glyphicon-time"></i>
          <a ng-click="viewWaiting()" href="">{{overview.waiting}} <span class="hidden-xs">Job<span ng-if="overview.waiting != 1">s</span></span> Waiting <i aria-hidden='true' class="glyphicon glyphicon-chevron-right"></i></a>
        </h1>
      </header>
    </article>
  </section>
</div>
