<div rb-nav></div>
<div class="container">
  <section class="row">
    <header class="col-md-12">
      <h1 class="text-center">Overview <small>{{resqueSelected}}</small></h1>
    </header>
  </section>
  <article class="col-md-4 col-sm-12 col-xs-12 col-md-offset-4">
    <section class="panel panel-danger">
      <header class="panel-heading">
        <h1 class="h3 mt-none mb-none">
          <i aria-hidden='true' class="glyphicon glyphicon-ban-circle"></i>
          <a class="text-danger" ng-click="viewFailed()" href="">4 Jobs Failed <i aria-hidden='true' class="glyphicon glyphicon-chevron-right"></i></a>
        </h1>
      </header>
    </article>
  </section>
  <article class="col-md-4 col-sm-12 col-xs-12 col-md-offset-4">
    <section class="panel panel-info">
      <header class="panel-heading">
        <h1 class="h3 mt-none mb-none">
          24 Jobs Running
        </h1>
      </header>
      <footer class="panel-footer">
        <h1 class="h4 mt-none mb-none text-warning">
          <i aria-hidden='true' class="glyphicon glyphicon-warning-sign"></i>
          <a class="text-warning" ng-click="viewRunning()" href="">4 for too long <i aria-hidden='true' class="glyphicon glyphicon-chevron-right"></i></a>
        </h1>
      </footer>
    </article>
  </section>
  <article class="col-md-4 col-sm-12 col-xs-12 col-md-offset-4">
    <section class="panel panel-info">
      <header class="panel-heading">
        <h1 class="h3 mt-none mb-none">
          145 Jobs Waiting
        </h1>
      </header>
    </article>
  </section>
</div>
