<div rb-nav></div>
<div class="container">
  <section class="row">
    <header class="col-md-12">
      <h1 class="text-center">Overview</h1>
    </header>
  </section>
  <article class="col-md-4 col-sm-12 col-xs-12 summary-failed">
    <section class="panel panel-danger">
      <header class="panel-heading">
        <h1 class="h3 mt-none mb-none">
          <i aria-hidden='true' class="glyphicon glyphicon-remove"></i>
          {{totalFailed}} Job<span ng-if="totalFailed != 1">s</span> Failed
        </h1>
      </header>
      <table class="table">
        <thead>
          <tr>
            <th>Resque</th>
            <th>Failed</th>
            <th><span class="sr-only">Actions</span></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="resque in allResques" ng-class="{'danger': resque.failed > 0}">
            <td>{{resque.name}}</td>
            <td>{{resque.failed}}</td>
            <td>
              <a ng-click="viewResque(resque,'failed')" title="View Failed Jobs" href="">View <i aria-hidden="true" class="glyphicon glyphicon-chevron-right"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </article>
  </section>
  <article class="col-md-4 col-sm-12 col-xs-12 summary-running">
    <section class="panel panel-info">
      <header class="panel-heading">
        <h1 class="h3 mt-none mb-none">
          <i aria-hidden='true' class="glyphicon glyphicon-random"></i>
          {{totalRunning}} Job<span ng-if="totalRunning != 1">s</span> Running
        </h1>
      </header>
      <table class="table">
        <thead>
          <tr>
            <th>Resque</th>
            <th>Running</th>
            <th>Long</th>
            <th><span class="sr-only">Actions</span></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="resque in allResques">
            <td>{{resque.name}}</td>
            <td>{{resque.running}}</td>
            <td>{{resque.runningTooLong}}</td>
            <td>
              <a ng-click="viewResque(resque,'running')" title="View Running Jobs" href="">View <i aria-hidden="true" class="glyphicon glyphicon-chevron-right"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </article>
  </section>
  <article class="col-md-4 col-sm-12 col-xs-12 summary-waiting">
    <section class="panel panel-info">
      <header class="panel-heading">
        <h1 class="h3 mt-none mb-none">
          <i aria-hidden='true' class="glyphicon glyphicon-time"></i>
          {{totalWaiting}} Job<span ng-if="totalWaiting != 1">s</span> Waiting
        </h1>
      </header>
      <table class="table">
        <thead>
          <tr>
            <th>Resque</th>
            <th>Waiting</th>
            <th><span class="sr-only">Actions</span></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="resque in allResques">
            <td>{{resque.name}}</td>
            <td>{{resque.waiting}}</td>
            <td>
              <a ng-click="viewResque(resque,'waiting')" title="View Waiting Jobs" href="">View <i aria-hidden="true" class="glyphicon glyphicon-chevron-right"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </article>
  </section>
</div>
