<div rb-nav></div>
<div class="container">
  <section class="row">
    <header class="col-md-12">
      <h1 class="text-center">Overview</h1>
    </header>
  </section>
  <article class="col-md-4 col-sm-12 col-xs-12 summary-failed">
    <section class="panel" ng-class="{ 'panel-info': totalFailed == 0, 'panel-danger': totalFailed != 0 }">
      <header class="panel-heading">
        <h1 class="h3 mt-none mb-none">
          <i aria-hidden='true' class="glyphicon glyphicon-remove"></i>
          {{totalFailed}} <span class="hidden-xs">Job<span ng-if="totalFailed != 1">s</span></span> Failed
        </h1>
      </header>
      <table class="table">
        <thead>
          <tr>
            <th>Resque</th>
            <th>Failed</th>
            <th><span class="sr-only">Actions</span></span></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="resque in allResques" ng-class="{'danger': resque.failed > 0}">
            <td>{{resque.name}}</td>
            <td>{{resque.failed}}</td>
            <td>
              <a ng-click="viewResque('failed',resque)" title="View Failed Jobs" href="">View <i aria-hidden="true" class="glyphicon glyphicon-chevron-right"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </article>
  </section>
  <article class="col-md-4 col-sm-12 col-xs-12 summary-running">
    <section class="panel" ng-class="{ 'panel-info': totalRunningTooLong == 0, 'panel-warning': totalRunningTooLong != 0 }">
      <header class="panel-heading">
        <h1 class="h3 mt-none mb-none">
          <i aria-hidden='true' class="glyphicon glyphicon-random"></i>
          {{totalRunning}} <span class="hidden-xs">Job<span ng-if="totalRunning != 1">s</span></span> Running
        </h1>
      </header>
      <table class="table">
        <thead>
          <tr>
            <th>Resque</th>
            <th>Running</th>
            <th class="hidden-xs">Long</th>
            <th><span class="sr-only">Actions</span></span></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="resque in allResques">
            <td>{{resque.name}}</td>
            <td>
              <span class="hidden-xs">{{resque.running}}</span>
              <span class="visible-xs">{{resque.running}}<span ng-if="resque.runningTooLong > 0">({{resque.runningTooLong}})</span></span>
            </td>
            <td class="hidden-xs">{{resque.runningTooLong}}</td>
            <td>
              <a ng-click="viewResque('running',resque)" title="View Running Jobs" href="">View <i aria-hidden="true" class="glyphicon glyphicon-chevron-right"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </article>
  </section>
  <article class="col-md-4 col-sm-12 col-xs-12 summary-waiting">
    <section class="panel panel-info">
      <header class="panel-heading">
        <h1 class="h3 mt-none mb-none">
          <i aria-hidden='true' class="glyphicon glyphicon-time"></i>
          {{totalWaiting}} <span class="hidden-xs">Job<span ng-if="totalWaiting != 1">s</span></span> Waiting
        </h1>
      </header>
      <table class="table">
        <thead>
          <tr>
            <th>Resque</th>
            <th>Waiting</th>
            <th><span class="sr-only">Actions</span></span></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="resque in allResques">
            <td>{{resque.name}}</td>
            <td>{{resque.waiting}}</td>
            <td>
              <a ng-click="viewResque('waiting',resque)" title="View Waiting Jobs" href="">View <i aria-hidden="true" class="glyphicon glyphicon-chevron-right"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </article>
  </section>
</div>
