<div rb-nav></div>
<div class="container">
  <section class="row">
    <header class="col-md-12">
      <h1 class="text-center">Waiting <small>www</small></h1>
    </header>
    <div class="col-md-6 col-md-offset-3">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Queue</th>
            <th>Jobs</th>
          </tr>
          <thead>
            <tbody>
              <tr class="success">
                <td>mail</td>
                <td>0</td>
              </tr>
              <tr class="warning">
                <td>cache</td>
                <td>
                  123
                  <i aria-hidden='true' class="glyphicon glyphicon-warning-sign"></i>
                </td>
              </tr>
              <tr>
                <td>pdf</td>
                <td>3</td>
              </tr>
            </tbody>
          </table>
        </div>
  </section>
</div>
