<div rb-nav></div>
<div class="container">
  <section class="row">
    <header class="col-md-12">
      <h1 class="text-center">{{totalJobsWaiting}} Job<span ng-if="totalJobsWaiting != 1">s</span> Waiting <small>{{resqueSelected}}</small></h1>
    </header>
    <div class="col-md-6 col-md-offset-3">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Queue</th>
            <th>Jobs</th>
          </tr>
        </thead>
        <tbody>
          <tr class="animate-repeat fade-in" ng-repeat="jobsInQueue in jobsWaiting" ng-class="{'success': jobsInQueue.jobs == 0, 'warning': jobsInQueue.jobs > 0}">
            <td data-queue-name="{{ jobsInQueue.queue }}">{{ jobsInQueue.queue }}</td>
            <td data-queue-count="{{ jobsInQueue.queue}}">{{ jobsInQueue.jobs }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
