/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require_tree .
 *= require_self
 *= depend_on_asset "bootstrap/fonts/glyphicons-halflings-regular.eot"
 *= depend_on_asset "bootstrap/fonts/glyphicons-halflings-regular.woff"
 *= depend_on_asset "bootstrap/fonts/glyphicons-halflings-regular.ttf"
 *= depend_on_asset "bootstrap/fonts/glyphicons-halflings-regular.svg"
 */
.container {
  padding-left: 20px;
  padding-right: 20px;
}

.pt-1 { padding-top: 20px; }
.pb-1 { padding-bottom: 20px; }
.pb-none { padding-bottom: 0; }

.mt-none { margin-top: 0; }
.mt-1    { margin-top: 20px; }
.mb-none { margin-bottom: 0; }
.mr-1    { margin-right: 20px; }

.payload {
  color: black;
  background: transparent;
}

.pre-scroll-horizontal {
  overflow: auto; 
  word-wrap: normal; 
  white-space: pre;
}

.failed-job {
  border-bottom: solid thin #ddd;
  padding-bottom: 20px;
  padding-top: 20px;
}

@font-face {
  font-family: 'Glyphicons Halflings';

  src: font-url('bootstrap/fonts/glyphicons-halflings-regular.eot');
  src: font-url('bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       font-url('bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
       font-url('bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
       font-url('bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.code-normal {
  background: none;
  color: black;
}
.code-smaller {
  font-size: 80%;
}
