<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <title> Resque-Brain: Manage Multilple Resques from One UI </title>
  <meta name="author" content="David Bryant Copeland">
  <meta name="description" content="Marketing and Documentation site for Resque-Brain">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{site.baseurl}}/css/styles.css">
  
  <!-- Favicons and Touch Device Icons -->
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="apple-touch-icon" href="touch-icon-iphone-precomposed.png">
  <link rel="apple-touch-icon" sizes="72x72"   href="touch-icon-ipad-precomposed.png">
  <link rel="apple-touch-icon" sizes="114x114" href="touch-icon-iphone-retina-precomposed.png">
  <link rel="apple-touch-icon" sizes="144x144" href="touch-icon-ipad-retina-precomposed.png">
  <script type="text/javascript" src="//use.typekit.net/iuq8vcf.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  {{content}}
</body>
</html>

